name: Static Analysis

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  phpstan:
    name: PHPStan - PHP ${{ matrix.php }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php: ['8.4', '8.5']
        phpunit: ['^10', '^11', '^12']
    runs-on: ${{ matrix.operating-system }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: zip

      - name: Install Composer dependencies
        run: |
          sed -i 's/"\^10 || \^11 || \^12"/\"${{ matrix.phpunit }}"/g' composer.json
          composer install --no-progress --prefer-dist --optimize-autoloader

      - name: PHPStan
        run: composer static-analysis

  actionlint:
    name: Actionlint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run actionlint
        run: docker run --rm -v "$PWD:/repo" --workdir /repo rhysd/actionlint:latest -color
